* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light-mode {
  height: 100vh;
  h1,
  h2,
  h3 {
    color: rgb(54, 54, 54);
  }
}
.dark-mode {
  background: #1a1919;
  height: 100vh;
  h1,
  h2,
  h3 {
    color: #999;
  }
}

body {
  font-family: "Roboto", sans-serif;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
